body, table, input, select, textarea
{
  font-size: 10pt;
  line-height: 110%;
}

body, table, input, select, textarea
{
  font-family: Arial, Verdana, Helvetica, sans-serif;
  font-style: normal;
  font-weight: normal;

  text-decoration: none;
}

body
{
  color: #000000;
  background: #ffffff;

  margin: 0.75em;
  border: 0em;
  padding: 0em;
}

/* ------------------------------------------------------------------ */
/* general                                                            */
/* ------------------------------------------------------------------ */

.align_left
{
  text-align: left !important;
}

.align_center
{
  text-align: center !important;
}

.align_right
{
  text-align: right !important;
}

.my_pre
{
  white-space: pre !important;
}

.my_mono
{
  font-family: "Courier New" Courier monospace !important;
}

.my_bold
{
  font-weight: bold !important;
}


/* ------------------------------------------------------------------ */

.page_header
{
  width: 100%;
  text-align: center;
  white-space: nowrap;
  border-collapse: collapse;
  border: none;
  zborder: 1px solid #444;
  padding: 0.0em 0.0em;
  margin: 0.2em 0.0em;
}

.page_header th, .page_header td
{
  vertical-align: bottom;
  border: none;
  zborder: 1px solid #888;
  padding: 0.4em 0.0em;
  margin: 0.0em 0.0em;
}

/* ------------------------------------------------------------------ */

.page_body
{
  width: 100%;
  text-align: left;
  border-collapse: collapse;
  border: none;
  zborder: 1px solid #444;
  padding: 0.0em 0.0em;
  margin: 0.2em 0.0em;
  text-align: center;
}

.page_body th, .page_body td
{
  vertical-align: top;
  border: none;
  zborder: 1px solid #888;
  padding: 0.0em 0.0em;
  margin: 0.0em 0.0em;
}

/* ------------------------------------------------------------------ */

.page_footer
{
  width: 100%;
  font-size: 80%;
  font-weight: normal;
  line-height: 110%;
  text-align: center;
  border-collapse: collapse;
  border: none;
  zborder: 1px solid #444;
  padding: 0.4em 0.0em;
  margin: 0.2em 0.0em;
}

.page_footer th, .page_footer td
{
  vertical-align: top;
  border: none;
  zborder: 1px solid #888;
  padding: 0.4em 0.0em;
  margin: 0.0em 0.0em;
}

/* ------------------------------------------------------------------ */

.tab_menu
{
  width: 100%;
  text-align: left;
  white-space: nowrap;
  border-collapse: collapse;
  border: none;
  zborder: 1px solid #444;
  padding: 0.0em 0.0em;
  margin: 0.0em 0.0em;
}

.tab_menu th
{
  font-size: 110%;
  font-weight: bold;
  line-height: 110%;
  vertical-align: top;
  border: none;
  zborder: 1px solid #888;
  padding: 1.0em 0.0em 0.4em 0.0em;
  margin: 0.0em 0.0em;
}

.tab_menu td
{
  vertical-align: top;
  border: none;
  zborder: 1px solid #888;
  padding: 0.2em 0.75em;
  margin: 0.0em 0.0em;
}

/* ------------------------------------------------------------------ */

.ztab_preview
{
  table-layout: fixed;
  text-align: left;
  vertical-align: top;
  border-collapse: seperate;
  border: none;
  zborder: 2px solid red;
  padding: 0.0em 0.0em;
  margin: 0.0em 0.0em;
}

td.tab_preview
{
  text-align: left;
  vertical-align: top;
  border: none;
  zborder: 2px solid green;
  padding: 0.0em!;
  margin: 0.0em!;
}

/* ------------------------------------------------------------------ */

.ecke_rot1
{
  color: red;
}

.ecke_rot2
{
  color: black;
}

.input_error
{
  color: red;
}

.achtung
{
  font-size: 200%;
  font-weight: bold;
  line-height: 110%;
  color: red;
}

/* ------------------------------------------------------------------ */
