@CHARSET "UTF-8";
body{
	border: 0px;
	margin: 0px;
	padding: 0px;
}

div{
	border: 0px;
	margin: 0px;
	padding: 0px;
}

span{
	border: 0px;
	margin: 0px;
	padding: 0px;
}

img{
	border: 0px;
	margin: 0px;
	padding: 0px;
}

.imageViewElement{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	line-height: 12px;
}

.imageViewElementSelected{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	line-height: 12px;
	background-color: #5F7AB8;
	color: #F8FFB8;
}

.locationBar{
	background-color:#999999;
}
	
.locationBarInput{
	width: 100%;
	height: 14px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	border: 1px solid #000000;
	line-height: 14px;
	vertical-align: middle;
}

.iconBar{
	background-color: #999999;
	border-bottom: 1px solid #000000;
}

.icon{
	background-color: #C9C9C9;
	cursor: pointer;
	border-top: 1px solid #999999;
	border-left: 2px solid #999999;
	border-bottom: 1px solid #6D6D6D;
	border-right: 2px solid #6D6D6D;
}

.iconHover{
	background-color: #C9C9C9;
	cursor: pointer;
	border-top: 2px solid #999999;
	border-left: 3px solid #999999;
	border-bottom: 1px solid #6D6D6D;
	border-right: 1px solid #6D6D6D;
}

.iconSeparator{
	width: 1px;
	background-color: #6D6D6D;
	border-top: 0px;
	border-left: 6px solid #999999;
	border-bottom: 0px;
	border-right: 6px solid #999999;
}

.linkUpload{
	border: 0px;
	margin: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
	padding-left: 4px;
	padding-right: 0px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #CCCCCC;
	text-decoration: none;
	font-weight: bold;
}

.dialogsButton{
	margin: 5px 5px 5px 5px;
	background-color: #666666;
	border: 1px solid #FFFFFF;
	color: #FFFFFF;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
}

.dialogsTextfield{
	width: 140px;
	height: 12px;
	background-color: #FFFFFF;
	border: 2px solid #778EC1;
	color: #000000;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	line-height: 12px;
	vertical-align: middle;
	padding: 1px;
}

.detailedView{
	color: #000000;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	line-height: 12px;
	vertical-align: middle;
}

.detailedViewBar{
	color: #000000;
	background-color: #E6E6E6;
	font-size: 10px;
	line-height: 16px;
	vertical-align: middle;
	padding-left: 2px;
	padding-top: 2px;
}

.detailedViewBarElement{
}

.detailedViewOdd{
	background-color: #FFFFFF;
}

.detailedViewEven{
	background-color: #F9F9F9;
}

.windowSectionTitle{
	font-size: 14px;
	line-height: 16px;
	font-weight: bold;
	border-top: 1px solid #E6E6E6;
	border-bottom: 1px solid #E6E6E6;
	padding: 2px;
}

.dynamicError{
	color: #BC0000;
}

/* ALERT DIALOG */
#alert_dialog{ 
 position: absolute;
 font-family: Arial, Helvetica, sans-serif;
 font-size: 12px;
 color: #FFFFFF;
 visibility: hidden;
 background: #333333;
 opacity: 0.9; 
 border: 2px solid #FFFFFF;
 width: 300px;
 height: 170px;
 z-index: 1;
 background-image: url(../images/imagen_info.png);
 background-repeat: no-repeat;
 background-position: 2% 25%;
}
#alert_dialog_head{
  background-color: #993333;
  color: #FFFFFF;
  font-size: 14px;
  height: 22px;
  border-bottom: 1px solid #CCCCCC;
  width:100%;
}
#alert_dialog_title{
  float:left;  
  width:240px;  
  text-indent: 10px;
  margin-top: 4px;
  font-size: 14px;
}
#alert_dialog_text{
  height: 90px;
  margin-top: 15px;
  margin-left: 50px;
  font-size: 14px; 
}
#alert_dialog_actions{
  float:right;
}
#alert_dialog_buttons{
 text-align: center;
}
#alert_dialog_buttons input{
   margin: 5px 5px 5px 5px;
   background-color: #666666;
   border: 1px solid #FFFFFF;
   color: #FFFFFF;
   font-family: Arial, Helvetica, sans-serif;
   font-size: 12px; 
 }
#alert_dialog_background{ 
 position: absolute;
 color: #FFFFFF;
 visibility: hidden;
 background: #CCCCCC;
 opacity: 0.5;
 filter: alpha(opacity=50);
 top: 0;
 left: 0;
 width: 100%;
 height: 100%;
 z-index: 0;
}
#confirmation_dialog{ 
 position: absolute;
 font-family: Arial, Helvetica, sans-serif;
 font-size: 12px;
 color: #FFFFFF;
 visibility: hidden;
 background: #333333;
 opacity: 0.9; 
 border: 2px solid #FFFFFF;
 width: 300px;
 height: 170px;
 z-index: 1;
 background-image: url(../images/pregunta.png);
 background-repeat: no-repeat;
 background-position: 2% 25%;
}
#confirmation_dialog_head{
  background-color: #993333;
  color: #FFFFFF;
  font-size: 14px;
  height: 22px;
  border-bottom: 1px solid #CCCCCC;
  width:100%;
}
#confirmation_dialog_title{
  float:left;  
  width:240px;  
  text-indent: 10px;
  margin-top: 4px;
}
#confirmation_dialog_actions{
  float:right;
}
#confirmation_dialog_text{
  height: 90px;
  margin-top: 15px;
  margin-left: 60px;
  font-size: 14px; 
}
#confirmation_dialog_buttons{
 text-align: center;
}
#confirmation_dialog_buttons input{
   margin: 5px 5px 5px 5px;
   background-color: #666666;
   border: 1px solid #FFFFFF;
   color: #FFFFFF;
   font-family: Arial, Helvetica, sans-serif;
   font-size: 12px; 
 }
#confirmation_dialog_background{ 
 position: absolute;
 color: #FFFFFF;
 visibility: hidden;
 background: #CCCCCC;
 opacity: 0.5; 
 filter: alpha(opacity=50);
 top: 0;
 left: 0;
 width: 100%;
 height: 100%;
 z-index: 0;
}
#fwindow_1, #fwindow_2, #fwindow_3, #fwindow_4, #fwindow_5{
	position: absolute;
	top: 50px;
	left: 50px;	
	visibility: hidden;
	width: 600px;
	height: 300px;
	z-index: 0;
}
.fwindow_class{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #FFFFFF;
	background: #333333;
	opacity: 0.9;
	filter: alpha(opacity=90);
	border: 2px solid #FFFFFF;
	min-width: 300px;
	min-height: 200px;
}
.fwindow_title {
	position: relative;
	background-color: #993333;
	height: 24px;
	color: #FFFFFF;
	text-indent: 10px;
	font-size: 14px;
	border-bottom: 1px solid #CCCCCC;
	filter: alpha(opacity=90);
	opacity: 0.9;
}
.fwindow_content {
	position: relative;
	color: #FFFFFF;
	margin-top: 2px;
	margin-left: 2px;
	margin-right: 2px;
	margin-bottom: 2px;
	height: 90%;
	min-height: inherit;
	font-size: 14px;
	overflow: auto;
}
.fwindow_resize {
	float: right;
	width: 30px;
	cursor: nw-resize;
}
.fwindow_title_text {
	float: left;
	vertical-align: middle;
	margin-top: 3px;
}
.fwindow_actions {
	float: right;
	width: 100px;
	text-align: right;
	margin-top: 0px;
}
.fwindow_actions a {
	color: #FFFFFF;
}
.fwindow_background{ 
 position: absolute;
 color: #FFFFFF;
 visibility: hidden;
 background: #CCCCCC;
 opacity: 0.5; 
 filter: alpha(opacity=50);
 top: 0;
 left: 0;
 width: 100%;
 height: 100%;
 z-index: 0;
}