@charset "utf-8";
/* CSS Document */

hr{
color:#3E8DB8;
}
fieldset[title=activado]{
background:#F4F4F4;
border-color:#600;
}
fieldset[title=activado] hr{
color:#600;
}
fieldset:hover{
background:#FFF;
}