vendor/bin
vendor/composer/ca-bundle
vendor/composer/composer
vendor/composer/semver
vendor/composer/ca-bundle
vendor/composer/spdx-licenses
vendor/composer/xdebug-handler
vendor/guzzlehttp/guzzle/vendor-bin
vendor/justinrainbow/json-schema/bin/
vendor/seld/jsonlint/bin